body {
	margin:0px;
	//overflow:hidden;
}

#header{
	width:100%;
	height:100px;
	position:relative;
}

#Header_text{
	width:500px;
	height:100px;
	margin:auto;
	position:relative;
}

#content{
	width:100%;
	height:550px;
	position:relative;
}

#left_Button{
	width:50px;
	height:50px;
	top:225px;
	left:0px;
	position:absolute;
	background-image:url('Resources/left_button.png');
	background-color:rgba(0,0,0,0);
	border:none;
	position:absolute;
	visibility:hidden;
}

#right_Button{
	width:50px;
	height:50px;
	top:225px;
	left:870px;
	position:absolute;
	background-image:url('Resources/right_button.png');
	background-color:rgba(0,0,0,0);
	border:none;
	position:absolute;
}

#Tutorial{
	width:920px;
	height:550px;
	margin:auto;
	position:relative;
}

#Tutorial_Frame{
	width:800px;
	height:550px;
	left:60px;
	position:relative;
	border-style:groove;
}