body {
	margin:0px;
	overflow:hidden;
}

#LazyLink{
	width:800px;
	height:550px;
	left:0px;
	top:0px;
	position:absolute;
}
#LazyLink_title{
	width:200px;
	height:50px;
	top:140px;
	left:300px;
	position:absolute;
}

#HyperLink{
	top:190px;
	left:150px;
	position:absolute;
}

#tutor_1{
	width:800px;
	height:550px;
	left:800px;
	top:0px;
	position:absolute;
}
#tutor_2{
	width:800px;
	height:550px;
	left:1600px;
	top:0px;
	position:absolute;
}
#tutor_3{
	width:800px;
	height:550px;
	left:2400px;
	top:0px;
	position:absolute;
}
#tutor_4{
	width:800px;
	height:550px;
	left:3200px;
	top:0px;
	position:absolute;
}
#tutor_5{
	width:800px;
	height:550px;
	left:4000px;
	top:0px;
	position:absolute;
}
#tutor_6{
	width:800px;
	height:550px;
	left:4800px;
	top:0px;
	position:absolute;
}